<!doctype html>
<html>
  <head>
    <title>List webpage!</title>
<style>
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e619;
}

.nav-li {
  float: left;
  border-right:1px solid black;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 18px 12px;
}

li a:hover:not(.active) {
  background-color: #6495ED;
}

.active {
  background-color: #00bfff;
}
</style>
</head>
<body>

<ul class="nav-ul">
  <li class="nav-li"><a href="./">Home</a></li>
  <li class="nav-li"><a href='/register'>Register</a></li>
  <li class="nav-li"><a href='/login'>Login</a></li>
  <li class="nav-li"><a href='/addfood'>Add Food</a></li>
  <li class="nav-li"><a class="active" href='/list'>Food List</a></li>
  <li class="nav-li"><a href='/search'>Search food</a></li>
  <li class="nav-li"><a href='/updatefood'>Update Food</a></li>
  <li class="nav-li"><a href='/deletefood'>Delete Food</a></li>
  <li class="nav-li"><a href='/myfood'>My food</a></li>
  <!-- <li class="nav-li"><a href='/addrecipe'>Make Recipe</a></li> -->
  <li class="nav-li"><a href='/logout'>Logout</a></li>
  <li class="nav-li"><a href='/api'>Api</a></li>
  <li class="nav-li"><a href='/about'>About</a></li>
</ul>

    <h1 style="background-color:powderblue;"> This is List (mongodb) Page </h1>
            <p style="font-family:courier;">You can see the details of all the food added in the app here:</p>
            <ul>
		<% availablefood.forEach(function(food){ %>
              	<li>
		<strong><%= 'Name: ' %></strong> <%= food.name %>, 
		<strong><%= ' Typical value per: ' %></strong> <%= food.value %>, 
		<strong><%= ' Unit of the typical value: ' %></strong> <%= food.typValue %>, 
		<strong><%= ' Calories: ' %></strong> <%= food.calories %> kilocalories, 
		<strong><%= ' Carbs: ' %></strong> <%= food.carbs %>g, 
		<strong><%= ' Fat: ' %></strong> <%= food.fat %>g, 
		<strong><%= ' Protein: ' %></strong> <%= food.protein %>g, 
		<strong><%= ' Salt: ' %></strong> <%= food.salt %>g, 
		<strong><%= ' Sugar: ' %></strong> <%= food.sugar %>g,
		<strong><%= 'Added by: ' %></strong> <%=food.author %> </li>
		<% }) %>
		</ul>
  </body>
</html>
